/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Andale Mono';
  src: local("Andale Mono"), url("../fonts/AndaleMono.ttf");
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  width: 1920px;
  margin: 0 auto;
  font-size: 24px;
  background-color: #ffffff;
  color: #000000;
  font-family: -apple-system, "Roboto", "Microsoft JhengHei", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 80px;
  line-height: 90px;
  font-family: 'Andale Mono';
}

h2 {
  font-size: 32px;
  font-weight: 1000;
}

hr {
  border: 1px solid black;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 16px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.w-50 {
  width: 50%;
}

.bg-primary {
  background-color: #415165;
}

.text-primary {
  color: #415165;
}

.bg-secondary {
  background-color: #96A9C4;
}

.text-secondary {
  color: #96A9C4;
}

.bg-third {
  background-color: #A00404;
}

.text-third {
  color: #A00404;
}

.bg-white {
  background-color: #ffffff;
}

.text-white {
  color: #ffffff;
}

.bg-primary .border-bottom {
  border-bottom: 1px solid white;
}

.bg-primary .contentItem__head {
  margin-bottom: 32px;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.border-left {
  border-left: 1px solid #96A9C4;
}

.border-bottom {
  border-bottom: 1px solid #000000;
}

.font-strong {
  font-weight: 800;
}

.font-light {
  font-weight: 500;
}

.header {
  margin-top: 24px;
}

.header__title {
  padding-bottom: 24px;
  border-bottom: 2px solid #000000;
}

.header__img {
  margin: 48px 0;
}

.contentItem {
  margin-bottom: 72px;
}

.contentItem__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 32px;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.contentItem__head__title {
  line-height: 45px;
  margin-right: 16px;
}

.contentItem__body {
  line-height: 36px;
  padding-left: 24px;
}

.contentItem__body li + li {
  margin-top: 32px;
}

.contentItem__body img {
  margin: 8px 0;
}

.contentItem__body__mark {
  position: relative;
}

.contentItem__body__mark::before {
  position: absolute;
  content: "";
  top: 10px;
  left: -32px;
  width: 16px;
  height: 16px;
  background-color: #96A9C4;
  border-radius: 50%;
}

.contentItem__body__mark + .contentItem__body__mark::after {
  position: absolute;
  content: "";
  top: -49px;
  left: -24px;
  width: 1px;
  height: 66px;
  background-color: #96A9C4;
}

.contentItem__body__text {
  padding-left: 24px;
}

.contentItem__body__primary {
  margin-bottom: 24px;
}

.footer {
  padding-top: 24px;
  padding-bottom: 48px;
}

.footer .contentItem__body li + li {
  margin-top: 16px;
}

.footer__icon a {
  margin-right: 16px;
}

.footer__icon img {
  margin: 0;
}

.custom__bg {
  position: relative;
}

.custom__bg::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 70%;
  background-color: #96A9C4;
  top: 50%;
  left: 0;
  z-index: -1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.custom__skill {
  padding: 24px 102px 56px 102px;
}

.custom__skill .contentItem__head {
  margin-bottom: 40px;
}

.custom__skill hr {
  margin-bottom: 40px;
}

.custom__skill li + li {
  margin-top: 16px;
}

.custom__workExperience .contentItem__head {
  margin-bottom: 22px;
}

.custom__workExperience p {
  line-height: 30px;
}
/*# sourceMappingURL=all.css.map */