
// 通用類
.container{
    width: 1200px;
    margin: 0 auto;
  }
.w-50{
  width: 50%;
}
@each $color, $value in ($color){
  .bg-#{$color}{
    background-color: $value;
  }
  .text-#{$color}{
    color: $value;
  }
}
.bg-primary{
  .border-bottom{
    border-bottom: 1px solid white;
  }
  .contentItem__head{
    margin-bottom: 32px;
  }
}
.text-center{
  text-align: center;
}
.d-flex{
  display: flex;
}
.justify-content--center{
  justify-content: center;
}
.border-left{
  border-left: 1px solid map-get($color, secondary );
}
.border-bottom{
  border-bottom: 1px solid #000000;
}
.font-strong{
  font-weight: 800;
}
.font-light{
  font-weight: 500;
}


// layout
.header{
  margin-top: 24px;
  &__title{
    padding-bottom: 24px;
    border-bottom: 2px solid #000000;
  }
  &__img{
    margin: 48px 0;
  }
  
}

.contentItem{
  margin-bottom: 72px;
  &__head{
    display: flex;
    align-items: center;
    line-height: 45px;
    padding-bottom: 8px;
    margin-bottom: 16px;
    &__span{
      display: inline-block;
      margin-left: 16px;
      font-size: 24px;
      line-height:32px;
      font-family: "Roboto";
    }
  }
  &__body{
    line-height: 36px;
    padding-left: 24px;
    li + li{
      margin-top: 32px;
    } 
    
    img{
      margin: 8px 0;
    }
    &__mark{
      position: relative;
      &::before{
        position: absolute;
        content: "";
        top: 10px;
        left: -32px;
        width: 16px;
        height: 16px;
        background-color: map-get($color, secondary);
        border-radius: 50%;
      }
      + .contentItem__body__mark{
        &::after{
          position: absolute;
          content: "";
          top:-49px ;
          left: -24px;
          width: 1px;
          height: 66px;
          background-color: map-get($color, secondary );
        }
      }
    }
    &__text{
      padding-left: 24px;
    }
    &__primary{
      margin-bottom: 24px;
    }

  }
}

.footer{
  padding-top: 24px;
  padding-bottom: 48px;
  .contentItem__body{
    li + li{
      margin-top: 16px;
    } 
  }
  
  &__icon{
    a{
      margin-right: 16px;
    }
    img{
      margin: 0;
    }
  }
}



// custom
.custom{
  &__bg{
    position: relative;
    &::before{
      position: absolute;
      content: '';
      width: 100%;
      height: 70%;
      background-color: map-get($color, secondary);
      top: 50%;
      left: 0;
      z-index: -1;
      transform: translateY(-50%);
    }
  }
  &__skill{
    padding: 24px 102px 56px 102px;
    .contentItem__head{
      margin-bottom: 40px;
    }
    hr{
      margin-bottom: 40px;
    }
    li + li{
      margin-top: 16px;
    }
  }
  &__workExperience{
    .contentItem__head{
      margin-bottom: 22px;
    }
    p{
      line-height:30px;
    }
  }
}
