
// 加入文字大小
// 參考 Bootstrap4

// 加入色彩變數，但只適合變數使用
$color: (
  primary: #415165,
  secondary: #96A9C4,
  accent: #A00404,
  white: #ffffff
);

$body__width: 1920px;
$body__font-size:24px;
$body__font-family:'Noto Sans TC', medium;;
$body__color:#000000;
$body__background-color:#ffffff;


