
@font-face {
  font-family: 'Andale Mono';
  src: 
  local("Andale Mono"),
  url('../fonts/AndaleMono.ttf') ,
}



$color: (
  primary:  #415165,
  secondary:#96A9C4,
  third:    #A00404,
  white:    #ffffff
);

$body__width: 1920px;
$body__font-size:24px;
$body__font-family:-apple-system, 'Microsoft JhengHei',"Roboto", sans-serif ;
$body__color:#000000;
$body__background-color:#ffffff;


